body {
  background-color: rgb(63, 63, 63);
}

.App {
  background-color: rgb(0, 0, 0);
  margin: 40px auto;
  min-height: 500px;
  width: 400px;
  border-radius: 10px;
  
}

#to-do-form input{
  background-color: rgb(163, 160, 160);
  margin: 10%;
  margin-bottom: 0%;
  margin-right: 0;
  width: 60%;
  height: 40px;
  padding-left: 10px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
}

button{
  background-color: rgb(234, 233, 234);
  width: 40px;
  height: 40px;
  margin:6%;
  border-radius: 10px;
  border: 2px solid cyan;
  font-size: large;
}